:root {
  --primary-color: hsl(290, 17%, 55%);
  --secondary-color: hsl(0, 0%, 92%);
  --tertiary-color: #272044;
  --bold-heading: #5f0d0d;
  --sub-heading: #343d41;
}
body {
  font-family: "Yrsa", serif;
  font-optical-sizing: auto;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: hsl(0, 0%, 95%);
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--bold-heading);
  text-decoration: none;
}
.text-center {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  color: white;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  border-radius: 5px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
main {
  background-color: white;
}
.img-responsive {
  max-width: 100%;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: var(--sub-heading);
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--tertiary-color);
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--bold-heading);
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: var(--sub-heading);
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
  opacity: 0.7;
}
.gallery-container {
  overflow-x: auto;
}
.gallery {
  width: 300px;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../img/footer.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

footer h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
  table {
    max-width: 300px;
    overflow-x: scroll;
  }
}
