:root {
  --primary-color: #644b69;
  --secondary-color: #5e0e0d;
  --tertiary-color: #272044;
  --heading: #202122;
  --sub-heading: #4b585d;
}
body {
  font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  color: white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  border-radius: 5px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
main {
  background-color: white;
}
.img-responsive {
  max-width: 100%;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: var(--secondary-color);
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--tertiary-color);
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--tertiary-color);
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../img/footer.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

footer h3 {
  color: var(--sub-heading);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
